<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjh.fangdichanhaixia.mapper.BossInfoMapper">
  <resultMap id="BaseResultMap" type="com.zjh.fangdichanhaixia.pojo.BossInfoDO">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
    <result column="updator_name" property="updatorName" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, phone_number,  creator_name, create_time,updator_name,
    update_time,is_deleted
  </sql>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from boss_info
    <where>
      <if test="id != null">
        and id = #{id},
      </if>
      <if test="name != null">
        and name = #{name},
      </if>
      <if test="phoneNumber != null">
        and phone_number = #{phoneNumber},
      </if>
      and is_deleted =0
    </where>
  </select>
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from boss_info where id = #{id} and is_deleted = 0

  </select>
  <update id="deleteBatch">
    update boss_info set is_deleted = 1 where id in
    <foreach collection="bossIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    and is_deleted = 0
  </update>


  <insert id="add">
    insert into boss_info (name, phone_number,creator_name, create_time,updator_name,
    update_time,is_deleted)
    values (#{name}, #{phoneNumber}, #{creatorName}, #{createTime}, #{updatorName}, #{updateTime},0)
  </insert>


  <update id="update">
    update boss_info
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber},
      </if>
    </set>
    where id = #{id} and is_deleted = 0
  </update>
</mapper>
