<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjh.fangdichanhaixia.mapper.HouseInfoMapper">
  <resultMap id="BaseResultMap" type="com.zjh.fangdichanhaixia.pojo.HouseInfoDO">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="boss_id" property="bossId" jdbcType="INTEGER"/>
    <result column="address" property="address" jdbcType="VARCHAR"/>
    <result column="owner_name" property="ownerName" jdbcType="VARCHAR"/>
    <result column="owner_phone_number" property="ownerPhoneNumber" jdbcType="VARCHAR"/>
    <result column="payee_name" property="payeeName" jdbcType="VARCHAR"/>
    <result column="payee_phone_number" property="payeePhoneNumber" jdbcType="VARCHAR"/>
    <result column="contract_start_time" property="contractStartTime" jdbcType="TIMESTAMP"/>
    <result column="contract_end_time" property="contractEndTime" jdbcType="TIMESTAMP"/>
    <result column="rented_type" property="rentedType" jdbcType="INTEGER"/>
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
    <result column="updator_name" property="updatorName" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
    <result column="contract_code" property="contractCode" jdbcType="INTEGER"/>
    <result column="payor_type" property="payorType" jdbcType="INTEGER"/>
    <result column="payee_account" property="payeeAccount" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    id
    , boss_id, address, owner_name, owner_phone_number, payee_name, payee_phone_number,
    contract_start_time, contract_end_time, rented_type, creator_name, create_time,updator_name,
    update_time, is_deleted,contract_code,payor_type,payee_account
  </sql>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from house_info
    <where>
      <if test="bossId != null">
        boss_id = #{bossId}
      </if>
      <if test="address != null">
        address = #{address}
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName}
      </if>
      <if test="ownerPhoneNumber != null">
        owner_phone_number = #{ownerPhoneNumber}
      </if>
      <if test="payeeName != null">
        payee_name = #{payeeName}
      </if>
      <if test="payeePhoneNumber != null">
        payee_phone_number = #{payeePhoneNumber}
      </if>
      <if test="contractStartTime != null">
        contract_start_time = #{contractStartTime}
      </if>
      <if test="contractEndTime != null">
        contract_end_time = #{contractEndTime}
      </if>
      <if test="rentedType != null">
        rented_type = #{rentedType}
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName}
      </if>
      <if test="updatorName != null">
        updator_name = #{updatorName}
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime}
      </if>
      <if test="contractCode != null">
        contract_code = #{contractCode}
      </if>
      <if test="payorType != null">
        payor_type = #{payorType}
      </if>
      <if test="payeeAccount != null">
        payee_account = #{payeeAccount}
      </if>
      and is_deleted =0
    </where>
  </select>
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from house_info
    where id = #{id}

  </select>
  <update id="deleteBatch">
    update house_info set is_deleted = 1 where id in
    <foreach collection="houseIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    and is_deleted = 0
  </update>


  <insert id="add">
    insert into house_info (boss_id, address,
                            owner_name, owner_phone_number, payee_name,
                            payee_phone_number, contract_start_time,
                            contract_end_time, contract_code, payor_type, payee_account, rented_type, creator_name, create_time,
                            updator_name, update_time, is_deleted)
    values (#{bossId}, #{address},
            #{ownerName}, #{ownerPhoneNumber}, #{payeeName},
            #{payeePhoneNumber}, #{contractStartTime}, #{contractEndTime}, #{contractCode}, #{payorType}, #{payeeAccount},
            #{rentedType}, #{creatorName}, #{createTime},
            #{updatorName}, #{updateTime}, 0)
  </insert>


  <update id="update">
    update house_info
    <set>
      <if test="bossId != null">
        boss_id = #{bossId},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName},
      </if>
      <if test="ownerPhoneNumber != null">
        owner_phone_number = #{ownerPhoneNumber},
      </if>
      <if test="payeeName != null">
        payee_name = #{payeeName},
      </if>
      <if test="payeePhoneNumber != null">
        payee_phone_number = #{payeePhoneNumber},
      </if>
      <if test="contractStartTime != null">
        contract_start_time = #{contractStartTime},
      </if>
      <if test="contractEndTime != null">
        contract_end_time = #{contractEndTime},
      </if>
      <if test="rentedType != null">
        rented_type = #{rentedType},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName},
      </if>
      <if test="updatorName != null">
        updator_name = #{updatorName},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
      <if test="contractCode != null">
        contract_code = #{contractCode},
      </if>
      <if test="payorType != null">
        payor_type = #{payorType},
      </if>
      <if test="payeeAccount != null">
        payee_account = #{payeeAccount},
      </if>
    </set>
    where id = #{id} and is_deleted = 0
  </update>
</mapper>
