<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjh.fangdichanhaixia.mapper.PayInfoMapper">
  <resultMap id="BaseResultMap" type="com.zjh.fangdichanhaixia.pojo.PayInfoDO">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="pay_type" property="payType" jdbcType="INTEGER"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    <result column="house_id" property="houseId" jdbcType="INTEGER"/>
    <result column="room_id" property="roomId" jdbcType="INTEGER"/>
    <result column="expect_pay_time" property="expectPayTime" jdbcType="TIMESTAMP"/>
    <result column="real_pay_time" property="realPayTime" jdbcType="TIMESTAMP"/>
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL"/>
    <result column="pay_status" property="payStatus" jdbcType="INTEGER"/>
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
    <result column="updator_name" property="updatorName" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_type, remarks, house_id, room_id, expect_pay_time, real_pay_time, pay_amount,
    pay_status, creator_name, create_time, updator_name, update_time, is_deleted
  </sql>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pay_info
    <where>
      <if test="payType != null">
        and pay_type = #{payType}
      </if>
      <if test="remarks != null">
        and remarks = #{remarks}
      </if>
      <if test="houseId != null">
        and  house_id = #{houseId}
      </if>
      <if test="roomId != null">
        and  room_id = #{roomId}
      </if>
      <if test="expectPayTime != null">
        and  expect_pay_time = #{expectPayTime}
      </if>
      <if test="realPayTime != null">
        and real_pay_time = #{realPayTime}
      </if>
      <if test="payAmount != null">
        and  pay_amount = #{payAmount,jdbcType=DECIMAL}
      </if>
      <if test="payStatus != null">
        and  pay_status = #{payStatus}
      </if>
      <if test="creatorName != null">
        and  creator_name = #{creatorName}
      </if>
      <if test="updatorName != null">
        and updator_name = #{updatorName}
      </if>
      <if test="updateTime != null">
        and  update_time = #{updateTime}
      </if>
      and is_deleted =0
    </where>
  </select>
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pay_info
    where id = #{id}  and is_deleted = 0

  </select>
  <update id="deleteBatch">
    update pay_info set is_deleted = 1 where id in
    <foreach collection="payIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    and is_deleted = 0
  </update>


  <insert id="add">
    insert into pay_info (pay_type, remarks,
      house_id, room_id, expect_pay_time,
      real_pay_time, pay_amount, pay_status,
      creator_name, create_time,updator_name, update_time,
      is_deleted)
    values (#{payType}, #{remarks},
      #{houseId}, #{roomId}, #{expectPayTime},
      #{realPayTime}, #{payAmount,jdbcType=DECIMAL}, #{payStatus},
      #{creatorName}, now(), #{updatorName}, now(),
      0)
  </insert>


  <update id="update">
    update pay_info
    <set>
      <if test="payType != null">
        pay_type = #{payType},
      </if>
      <if test="remarks != null">
        remarks = #{remarks},
      </if>
      <if test="houseId != null">
        house_id = #{houseId},
      </if>
      <if test="roomId != null">
        room_id = #{roomId},
      </if>
      <if test="expectPayTime != null">
        expect_pay_time = #{expectPayTime},
      </if>
      <if test="realPayTime != null">
        real_pay_time = #{realPayTime},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName},
      </if>
      <if test="updatorName != null">
        updator_name = #{updatorName},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
    </set>
    where id = #{id}
    and is_deleted = 0
  </update>
</mapper>
