<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.fangdichanhaixia.mapper.RoomInfoMapper">
  <resultMap id="BaseResultMap" type="com.zjh.fangdichanhaixia.pojo.RoomInfoDO">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="house_id" jdbcType="INTEGER" property="houseId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="rented_status" jdbcType="INTEGER" property="rentedStatus"/>
    <result column="rent_people_name" jdbcType="VARCHAR" property="rentPeopleName"/>
    <result column="rent_people_phone_number" jdbcType="VARCHAR" property="rentPeoplePhoneNumber"/>
    <result column="payor_type" jdbcType="INTEGER" property="payorType"/>
    <result column="contract_start_time" jdbcType="TIMESTAMP" property="contractStartTime"/>
    <result column="contract_end_time" jdbcType="TIMESTAMP" property="contractEndTime"/>
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
    <result column="updator_name" jdbcType="VARCHAR" property="updatorName"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, house_id, name, rented_status, rent_people_name, rent_people_phone_number, payor_type,
    contract_start_time, contract_end_time, creator_name, create_time, updator_name, update_time,
    is_deleted
    </sql>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from room_info
    <where>
      <if test="houseId != null">
        house_id = #{houseId}
      </if>
      <if test="name != null">
        name = #{name}
      </if>
      <if test="rentedStatus != null">
        rented_status = #{rentedStatus}
      </if>
      <if test="rentPeopleName != null">
        rent_people_name = #{rentPeopleName}
      </if>
      <if test="rentPeoplePhoneNumber != null">
        rent_people_phone_number = #{rentPeoplePhoneNumber}
      </if>
      <if test="payorType != null">
        payor_type = #{payorType}
      </if>
      <if test="contractStartTime != null">
        contract_start_time = #{contractStartTime}
      </if>
      <if test="contractEndTime != null">
        contract_end_time = #{contractEndTime}
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName}
      </if>
      <if test="updatorName != null">
        updator_name = #{updatorName}
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime}
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted}
      </if>
      and is_deleted =0
    </where>
  </select>
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from room_info where id = #{id}   and is_deleted = 0

  </select>
  <update id="deleteBatch">
    update room_info set is_deleted = 1 where id in
    <foreach collection="roomIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    and is_deleted = 0
  </update>


  <insert id="add">
    insert into room_info (house_id, name,
      rented_status, rent_people_name, rent_people_phone_number,
      payor_type, contract_start_time, contract_end_time,
      creator_name, create_time, updator_name, update_time,
      is_deleted)
    values (#{houseId}, #{name},
      #{rentedStatus}, #{rentPeopleName}, #{rentPeoplePhoneNumber},
      #{payorType}, #{contractStartTime}, #{contractEndTime},
      #{creatorName}, #{createTime}, #{updatorName}, #{updateTime},0)
  </insert>


  <update id="update">
    update room_info
    <set>
      <if test="houseId != null">
        house_id = #{houseId},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="rentedStatus != null">
        rented_status = #{rentedStatus},
      </if>
      <if test="rentPeopleName != null">
        rent_people_name = #{rentPeopleName},
      </if>
      <if test="rentPeoplePhoneNumber != null">
        rent_people_phone_number = #{rentPeoplePhoneNumber},
      </if>
      <if test="payorType != null">
        payor_type = #{payorType},
      </if>
      <if test="contractStartTime != null">
        contract_start_time = #{contractStartTime},
      </if>
      <if test="contractEndTime != null">
        contract_end_time = #{contractEndTime},
      </if>
      <if test="creatorName != null">
        creator_name = #{creatorName},
      </if>
      <if test="updatorName != null">
        updator_name = #{updatorName},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
    and is_deleted = 0
  </update>
</mapper>
